{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "SyncSchedule": "0 0 * * * *",
    "KeyVault__VaultUri": "https://<your-keyvault-name>.vault.azure.net/",
    "Sql__ConnectionString": "Server=(localdb)\\mssqllocaldb;Database=IdentityFlow;Trusted_Connection=True;",
    "Paycom__BaseUrl": "https://api.paycomonline.net/v4/rest/index.php/",
    "Paycom__AuthMode": "ApiKey",
    "Paycom__Sid": "",
    "Paycom__ApiToken": "",
    "Entra__TenantId": "",
    "Entra__ClientId": "",
    "Entra__ClientSecret": "",
    "Entra__ProvisioningServicePrincipalId": "",
    "Entra__ProvisioningJobId": "",
    "Entra__SyncServiceAppObjectId": ""
  }
}
